.already-have-account {
    color: #26305B;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}

html,body {
    margin: auto auto auto auto;
    font-family: proxima-nova, sans-serif;
}

img {
    max-height: 100%;
}

.welcome__building-header {
    margin-top: 10px !important;
}

.text-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}