html,
body {
    margin: auto auto auto auto;
    font-family: proxima-nova, sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.welcome__building-header {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

#finicityConnectIframe {
    position: relative !important;
    height: 100%;
}

.x-hellosign-embedded.x-hellosign-embedded--in-modal {
    z-index: 9999;
}


.tos-container {
    .pad-left {
        padding-left: 18px;
        margin-left: -18pt;
    }
    .center {
        text-align: center;
    }
    ol {
        counter-reset: item;
    }
    ol > li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
    }
    ol > li:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;
    }
    li ol > li {
        margin: 0;
    }
    li ol > li:before {
        content: counters(item, ".") " ";
    }
    ol[type="a"] > li {
        display: list-item;
    }
    ol[type="a"] > li:before {
        content: none;
    }
}

.align-left {
    text-align: left !important;
}

.hide-element {
    display: none;
}

.color-manatee {
    color: #828796;
}
